.red{
    color: red;
    background-color: burlywood;
    padding: 5px;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }

  .square{
    border: solid 2px black;
    width: 100px;
    height: 100px;
  }
  body{
    padding: 50px;
  }
  .item1{
    padding: 10px;
    border: 2px red solid; 
    width: 20%;
    margin-bottom: 15px;
  }