.red{
    color: red;
    background-color: burlywood;
    padding: 5px;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }

  .square{
    border: solid 2px black;
    width: 100px;
    height: 100px;
  }
  body{
    padding: 50px;
  }
  .item1{
    padding: 10px;
    /* margin-right: 5px; */
    border: 2px red solid; 
    width: 200px;
    margin-bottom: 15px;
  }

  #items-grid{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    /* max-width: 90vw; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 1700px;

  }